---
squares:  # path where the generated square images should be saved
semes:  # newline seperated list of words appropriate for use as semes
smtp:
    address:
    port:
    user_name:
    password:
    authentication:
    enable_starttls_auto:
twitter:
    CONSUMER_SECRET: YOUR_CONSUMER_SECRET
    OAUTH_TOKEN: YOUR_OAUTH_TOKEN
    OAUTH_TOKEN_SECRET: YOUR_OAUTH_TOKEN_SECRET
    CONSUMER_KEY: YOUR_CONSUMER_KEY
